<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        
    </head>
    <body>
        <header>
            <%- include('../partials/header-admin'); %>
            <link rel='stylesheet' href='/content/userlist.css'/>
        </header>
        <div id="allPage">
            <h1>Business user List</h1>
            <div style="color: black">
                <form action="/adminadd_user" method="GET">
                    <button type="submit">Add New User</button>
                </form>
                <br>
                <table>
                    <% for( var i=0; i < userList.length; i++) { %>
                            <tr>
                                <td><a href="<%- '/user/' + userList[i]._id %>" target="_blank" ><%- userList[i].username %></a></td>
                                <td><%- userList[i].email %></td>
                                <td>
                                    <form action="/updateUser" method="GET">
                                        <input style="display: none" value="<%- userList[i]._id %>" name="userId">
                                        <button type="submit">Update</button>
                                    </form>
                                </td>
                                <td> 
                                    <form action="/deleteUser" method="POST">
                                        <input style="display: none" value="<%- userList[i]._id %>" name="userId">
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                    <%  } %>
                </table>
            </div>
        </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>