<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
            <link rel='stylesheet' href='/content/postpage.css'/>

        </header>
        <div  class="text-center text-muted" >
            <!-- <h1 class="text-center text-muted" >Contact</h1>-->
                <main class="text-center text-muted" >
                    <form class="form" action="/update/<%= recipe._id %>" method="POST">
                    <br>
                        <fieldset>

                            <legend><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Update Recipe Details</b></legend>
                            <div id="pageArea">
                            <div><br>
                                <label for="title"><b>Name of Recipe / Title </b></label>
                                <input class="contact_input" id="title" name="title"  size="51" type="text" required="required" tabindex="1" value="<%= recipe.title %>">
                            </div><br>                            
                            <div>
                                <label for="description"><b> Description </b></label>
                                <textarea id="description" name="description" cols="50" rows="8" tabindex="4" 
                                    placeholder="--- Please type the description here ---" ><%= recipe.description %></textarea>
                            </div>                       
                            <div>
                                <label for="ingredients"><b>Ingredients </b></label>
                                <textarea id="ingredients" name="ingredients" cols="50" rows="8" tabindex="5" 
                                    placeholder="--- Please type the ingredients here ---"><%= recipe.ingredients %></textarea>
                            </div>
    
                            <div class="box">
                                <button  type="submit" name="btnSubmit" value="Update Recipe" tabindex="36">Update Recipe</button>
                                <button type="reset" name="btnReset" value="Clear Form" onclick="return confirm('Do you really want to reset?')" tabindex="39" href="/recipe/<%= recipe._id %>">Reset
                                </div><br><br>
                             <br><br><br>
                        </fieldset>
                        </div>

                    </form>
                    <div id="img">
                         <img src="/images/post1.png" width="285" height="600" alt="register image"> 
                    </div>
                </main>
            </div><br><br>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>
<!-- https://www.google.com/search?q=black+bun+burgers&tbm=isch&ved=2ahUKEwiUtu66ru79AhU7AFkFHZc9ApsQ2-cCegQIABAA&oq=black+bun+burgers&gs_lcp=CgNpbWcQAzIFCAAQgAQ6BAgjECc6BggAEAcQHjoGCAAQCBAeOgQIABBDOggIABCABBCxAzoGCAAQBRAeUL4NWLI0YLc2aABwAHgAgAFKiAHdCJIBAjE4mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=01YaZNSAGruA5NoPl_uI2Ak&bih=757&biw=1600#imgrc=Bx_aUcxUG6cLvM&imgdii=-HuP7IHu9N0DpM 
https://www.google.com/search?q=green+tablecloth+stripes+vector&sxsrf=AJOqlzU62qRiSWL9G8mpaUPgILJNwj19pw:1679448773209&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi7sq6csu79AhUNmokEHUR4AdcQ_AUoAXoECAEQAw&biw=1600&bih=757&dpr=1#imgrc=WtgzSawRGFDc0M
-->